<aside class="sidebar">

    <div class="logo">Painel Admin</div>

    <nav class="sidebar-nav">
        <ul>

            {% for item in menuAdmin %}

                {# HEADER #}
                {% if item.header is defined %}
                    <li class="menu-header">{{ item.header }}</li>

                {% else %}

                    {# PERMISSÕES #}
                    {% if auth.user.isAdmin() or auth.user.hasPermissao(item.permissao) %}

                        {# ACTIVE #}
                        {% set active = (app.request.path starts with item.url) ? 'active' : '' %}

                        <li class="menu-item {{ active }}">

                            <a href="{{ item.url }}" class="menu-link {% if item.principal is defined and item.principal %}main{% endif %}">

                                {% if item.icone is defined %}
                                    <i class="bi {{ item.icone }}"></i>
                                {% endif %}

                                <span>{{ item.titulo }}</span>

                                {% if item.sub is defined %}
                                    <i class="bi bi-chevron-right submenu-arrow"></i>
                                {% endif %}


                                {% if item.badge is defined and item.badge > 0 %}
                                    <span class="badge">{{ item.badge }}</span>
                                {% endif %}
                            </a>

                            {# SUBMENU #}
                            {% if item.sub is defined %}
                                <ul class="submenu-list">

                                    {% for sub in item.sub %}
                                        {% if auth.user.isAdmin() or auth.user.hasPermissao(sub.permissao) %}

                                            {% set subActive = (app.request.path == sub.url) ? 'active' : '' %}

                                            <li class="submenu-item {{ subActive }}">
                                                <a href="{{ sub.url }}" class="submenu-link">
                                                    {{ sub.titulo }}
                                                </a>
                                            </li>

                                        {% endif %}
                                    {% endfor %}

                                </ul>
                            {% endif %}

                        </li>

                    {% endif %}
                {% endif %}

            {% endfor %}

        </ul>
    </nav>

</aside>
